
/*******************************************************************************************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
html{
    font-size: 62.5%;
}

h1 {
    display: flex;
    justify-content: space-between;
    background-color: rgb(243, 243, 243);
    /* width: 3%; */
    position: sticky;
    top: 0;
    z-index: 999;
}

h1 svg {
    cursor: pointer;
}
h1:before{
    content: attr(data-count);
    opacity: 0;
    position: absolute;
    color: white;
    right: 20px;
    font-size: 12px;
    text-align: center;
    top: 0px;
    width: 18px;
    height: 18px;
    background: rgb(73, 71, 92);
    border-radius: 50%;
}

h1.zero::before {
    opacity: 1;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 250px;
    height: 85vh;
    margin: auto;
    margin-bottom: 25px;
    text-align: center;
    font-family: arial;
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

button:hover {
    opacity: 0.7;
}

.select{
    width: 40%;
    height: 600px;
    background: rgb(236, 230, 230);
    position: absolute;
    /* margin-top: 200rem; */
    top: -1000px;
    left: 60%;
    transition: 0.5s;
    overflow-y: auto;
    margin: auto;
    /* width: 300px; */
    border: 2px solid rgb(222, 212, 212);
   
}
.select.display{
    top: 50px;
}
/* .select div{
    width: 100%;
    height: 300px;
    /* display: flex; */
    /* padding: 5px;
    border: 1px solid white;
    position: relative;
    margin: 5px auto;
    margin-top: 5rem; */
/* } */

/* .select div img{
    width: 20% !important;
    height: auto !important;
    display: block; */

    /* border: 1px solid red; */
    /* border-radius: 40%; */
    /* margin: 15px !important; */
    /* margin: auto; */

/* } */
/* .select div h3{
    font-size: 10px !important;
    color: rgb(86, 1, 1) !important;
    position:absolute;
} */
/* .select.title{
    position: absolute !important;
    top: 0;
} */

/* .select p{
    opacity: 0 !important;
} */



/*///////////////////////////////////////////////////////////////////////////////////////*/

/* .mainCard{
    height: 60px;
    width: 300px;
    border: 2px solid rgb(222, 212, 212);
    margin: auto;
} */
.card1{
    margin: 5px auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    /* margin-bottom: 1px; */
    border: 1px solid rgb(0, 0, 0);
}
.imageControl >img{
    width: 50px;
    height: 50px;
}
.productName{
    font-size: 10.5px;
    font-style: italic;
}
.removeButton{
    border: none;
    outline: 0;
    display: inline-block;
    border-radius: 5px;
    /* padding: 8px; */
    color: white;
    background-color: rgb(177, 34, 34);
    text-align: center;
    cursor: pointer;
    width: 50px;
    height: 30px;
    font-size: 10px;    
}

